.trust__container{
    display: flex;
    flex-direction: column;
    background-color: #7391ff66;
}

.trust__text{
    text-align: center;
}

.trust__text h3{
    font-size: 40px;
}

.porcentajes-container{
    display: flex;
    justify-content: center;
}

.procentajes{
    margin: 20px;
}

.procentajes h5{
    margin: 0;
}

.procentajes span{
    line-height: 90%;
    font-size: 80px;
    font-weight: bold;
    color: var(--terciary-color);
}

.trust__bottom-text{
    margin: 20px 0 0 0;
}

@media screen and (max-width: 720px){

    .trust__text h3,
    .trust__text p,
    .porcentajes-container{
        padding: 0 20px;
    }

    .trust__text h3{
        font-size: 20px;
    }
    
    .trust__text p{
        font-size: 12px;
    }

    .procentajes{
        margin: 0 20px;
    }

    .procentajes span{
        font-size: 40px;
    }    
}