.subscription__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 1400px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 30px;
    color: white;
    background-color: var(--terciary-color);
}