.about{
    position: relative;
    background-color:aquamarine;
}

.width__container{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;
}

.about__container{
    display: flex;
    margin: 200px 0px;
    padding: 10px 0px;
}

.about__container__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0px 50px;
    text-align: left;
    color: white;
    background-color: #0006;
}

.about__container__text .right{
}

.about__container__text h3{
    font-size: 35px;
}

.about__container__text p{
    font-size: 25px;
}

.about__container__img{
    min-width: 500px;
    height: 700px;
    margin: 0px 20px;
    overflow: hidden;
    background-color: #0006;
}