#about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  color: black;
}

.width__container {
  flex-grow: 1;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px;
}

#about .home__wave{
  background-color: #7391ff66;
}

#about .home__wave path{
  fill: white;
}

.about__container {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.about__container__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0px 30px;
  text-align: left;
}

.about__container__text h3 {
  margin-bottom: 50px;
  font-size: 35px;
}

.about__container__text p {
  font-size: 25px;
}

.about__container__text img {
  display: none;
}

.about__container__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}

.about__container__img img {
  height: 70vh;
}

@media screen and (max-width: 1400px) {
  .about__container__text h3 {
    margin-bottom: 10px;
    font-size: 30px;
  }
  
  .about__container__text p {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  
  .about__container {
    flex-direction: column;
  }
  
  .about__container__img img {
    display: none;
  }
  
  .about__container__text h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .about__container__text p {
    font-size: 15px;
  }
  
  .about__container__text img {
    display: block;
    width: 100px;
    margin: 0 auto 20px auto ;
  }
}
