.about{
    position: relative;
    height: 100vh;
    color: black;
}

.width__container{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;
}

.about__container{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    overflow: hidden;
}

.about__container__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0px 50px;
    text-align: left;
}

.about__container__text h3{
    margin-bottom: 50px;
    font-size: 35px;
}

.about__container__text h4{
    margin-top: 30px;
}

.about__container__text p{
    font-size: 25px;
}

.about__container__img{
    min-width: 500px;
    height: 700px;
    margin: 0px 20px;
    overflow: hidden;
    background-color: #0001;
}