.subscriptions{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: green;
}

.subs__container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 800px;
    margin: 50px;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    box-shadow: 0px 0px 30px 10px #0004;
    background-color: #444;
}

.subs__container:hover{
    box-shadow: 0px 0px 30px 10px #0006;
}

.subs__container h2{
    font-size: 40px;
    margin: 0;
    padding: 20px;
    background-color: #0006;
}

.subs__container__span{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 40px;
}

.subs__container__span span{
    font-size: 25px;
    margin: 0;
    padding: 10px 0px;
    text-align: left;
}

.subs__container button{
    margin: 40px;
    font-size: 25px;
}