:root{
  --primary-color: #ff553e;
  --secundary-color: #7391ff;
  --terciary-color: #29847f;
}

.btn{
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}

.btn:hover{
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  filter: brightness(80%);
}